* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ProximaNova";
    background-color: var(--bg-color);
    color: var(--color);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}
 
.btn {
	font-size: 15px;
	border-radius: 90px;
	background-color: var(--primary-color);
	color: var(--color);
    border-color: var(--primary-color);
    padding: 13px 25px;
    &:hover {
        background-color: transparent;
        border-color: var(--primary-color);
    }

    &.btn-sm {
        padding: 13px 20px;
    }

    &.btn-lg {
        font-size: 16px;
        padding: 19px 26px 19px 30px;
        img {
            margin-left: 48px;
        }
    }

    &.btn-secondary {
        background-color: transparent;
        &:hover {
            background-color: var(--primary-color);
        }
    }
}