.navbar {
	padding: 36px 0 27px;
}

.nav-link {
	color: var(--color);
	&:hover {
		color: var(--primary-color)
	}
}

.navbar-nav {
	max-width: 545px;
	padding: 5px 0 0 0;

}

.hamburger{
	padding: 8px 7px;
	display: flex;
	align-items: center;
	justify-content: center;
    &:focus {
	box-shadow: none;
    }
}

.hamburger-box {
	width: 27px;
	height: 25px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--color);
	width: 27px;
	height: 2px;
}

 .hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 2px;
 }